




  .password-container {
    text-align: center;
    margin-top: 100px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  

  
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }

