h1 {
    text-align: center;
    font-size: 36px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin: 50px 0;
  }
















      /* 整体导航栏样式 */
      .nav {
        background-color: #333; /* 导航栏背景色 */
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    }

    /* 去除列表默认样式 */
   .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex; /* 使用flex布局让列表项水平排列 */
        justify-content: space-around; /* 均匀分配列表项的间距 */
    }

    /* 列表项样式 */
   .nav li {
        padding: 15px 20px; /* 内边距设置，调整点击区域大小和外观 */
        cursor: pointer; /* 鼠标悬停变为手型，提示可点击 */
        transition: background-color 0.3s ease; /* 背景色过渡效果 */
        color: white; /* 文字颜色 */
        font-family: Arial, sans-serif; /* 字体 */
        font-size: 16px;
    }

    /* 列表项悬停效果 */
   .nav li:hover {
        background-color: #555; /* 鼠标悬停时的背景色变化 */
    }














     /* 展示区域样式 */
     .display-area {
        margin-top: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        text-align: center;
    }

    /* 图片样式 */
  .display-area img {
        max-width: 100%;
        height: auto;
    }















    /* 整体容器样式 */
  .image-tree {
    width: 80%;
    margin: 50px auto;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  /* 未标注图片样式 */
.unlabeled-image {
    margin-bottom: 20px;
  }

  /* 错误与正确示范容器样式 */
.demo-container {
    display: flex;
    justify-content: space-around;
  }

  /* 错误示范图片样式 */
.error-image {
    border: 10px solid red;
    margin: 2px;
  }

  /* 正确示范图片样式 */
.correct-image {
    border: 10px solid green;
    margin: 2px;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  h3 {
    margin-top: 10px;
    color: #333;
  }















  .password-container {
    text-align: center;
    margin-top: 100px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  

  
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }


  .a{
    display: none;
  }